<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!--    bootstrap cdn-->

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--cdn for scroll animations https://michalsnik.github.io/aos/-->
    <link type="text/css" rel="stylesheet" href="stylesheets/home.css">

    <title> Kirk DCosta Portfolio</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">



    <div class="parallax-bg-1">
        <div id="name" class="name-container">

            <a class="flex-grid-center smooth-scroll" href="#about">
                <div class="pure-button arcade-button blue">
                    BEGIN
                </div>
            </a>
            <!--
            <span class="myname"> <h1 class="name">Kirk D'Costa</h1></span>
            <span class="title"> Full stack Developer</span>
-->
        </div>

        <!--                                                        SCROLL ARROW -->

        <a class="scroll-link" href="#about">
            <div id="arrow" class="scroll-down">
                <span> </span>
            </div>

        </a>


        <!--                                                        SCROLL ARROW -->

    </div>




    <!--        NAV BAR HERE        -->
    <span class="position-absolute trigger"><!-- hidden trigger to apply 'stuck' styles --></span>

    <nav id="navbar" class="navbar navbar-expand navbar-dark bg-info py-2">
        <div class="container">
            <!--        <a class="navbar-brand" href="#"> DELETE ME </a>-->
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="navbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbar1">

                <ul class="nav-pills navbar-nav custom-center">

                    <li class="nav-item">
                        <a class="nav-link" href="#about"> ABOUT </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#skills"> SKILLS </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#projects"> PROJECTS </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact"> CONTACT </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--^ NAV BAR ^-->



    <div class="about about-panel">
        <h3 id="about" data-aos="fade-right" class="about-caption"> About </h3>
        <div class="grid-about">

            <div class="cardtainer" data-aos="fade-up-right" data-aos-duration="1500">

                <div class="card-side card-front">
                    <div class="card-face">

                    </div>

                </div>

                <div id="overlay-menu" class="card-side card-back">

                    <div class="card-ninja">

                    </div>

                </div>

            </div>



            <div id="overlay" class="overlay overlay-data">
                <button type="button" class="overlay-close">Close</button>
                <div class="outer">
                    <div class="container-ninja">
                        <div class="ninja">
                            <a href="https://in.linkedin.com/in/kirkdcosta" target="_blank">
                                <!--                                   http://ninjaflex.com/-->
                                <img src="https://i.ibb.co/JqwBCFy/Ninja-Outline-2.png" alt="ninja" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column about-txt cap-text-abt" data-aos="fade-up-left" data-aos-duration="1500">
                <div class="para">
                    <p>Hey, thanks for stopping by. My name’s Kirk. I've always enjoyed taking things apart and rebuilding them. I was the annoying kid who took his friends toys apart just to see how they worked. I also really wanted to be a <span id="surprise">Ninja</span> Turtle when I grew up.</p>
                    <p>Unfortunately, life had other plans…</p>
                    <p>I majored in psychology, got into a gaming company, did some BTL advertising. I also managed events in Dubai, kickstarted a tour agency in Goa and worked as an editor for a tech publisher.</p>
                    <p>My work as an editor introduced me to the world of web development. I’ve been playing with websites ever since. </p>
                    <p>And now, you’re reading this. Here’s what I can do…</p>
                </div>



            </div>


        </div>
    </div>

    <div id="skills" class="parallax-bg-2">
        <div data-aos="fade-right" data-aos-anchor="#skills" data-aos-offset="500" data-aos-duration="500" class="caption">
            <span class="border pic-text skill-caption"> SKILLS </span>
        </div>
    </div>


    <div class="skill-panel">

        <div class="grid-skill reveal-on-scroll">
            <div class="lang-container">
                <h4 class="skill-title"> LANGUAGES </h4>

                <div class="nested">
                    <div class="wrapper-html cap-text">
                        <img src="https://image.ibb.co/dnurM9/HTML.png" />
                        <div class="bar-html anim-html"></div>
                        <figcaption class="caption-skill">
                            <p>html</p>
                            <p class="level"> competent </p>
                        </figcaption>
                    </div>



                    <div class="wrapper-css cap-text">
                        <img src="https://image.ibb.co/eZ92Tp/CSS.png" />
                        <div class="bar-css anim-css"></div>
                        <figcaption class="caption-skill">
                            css
                            <p class="level"> competent </p>
                        </figcaption>
                    </div>

                    <div class="wrapper-js cap-text">
                        <img src="https://image.ibb.co/fwXd19/JS.png" />
                        <div class="bar-js anim-js"></div>
                        <figcaption class="caption-skill">
                            JavaScript
                            <p class="level"> beginner </p>
                        </figcaption>
                    </div>



                </div>
            </div>
            <div class="skill-container">
                <h4 class="skill-title"> WHAT I KNOW </h4>
                <div class="nested">




                    <div class="wrapper">
                        <ul class="knowledge">
                            <li> Bootstrap </li>
                            <li> jQuery </li>
                            <li> MongoDB </li>
                            <li> Express </li>
                            <li> Git </li>
                            <li> NPM </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="skill-container">
                <h4 class="skill-title"> CERTIFICATIONS </h4>
                <div class="nested">
                    <div class="cert">
                        <a href="https://www.freecodecamp.org/certification/kirkdc/responsive-web-design" target="_blank"><img class="cert-img" src="https://i.ibb.co/92BTgGB/FCC-Cert.jpg" /></a>
                    </div>
                </div>
            </div>


            <div class="skill-container">
                <h4 class="skill-title"> STUDYING </h4>
                <div class="nested">
                    <div class="wrapper">
                        <ul class="knowledge">
                            <li> SASS </li>
                            <li> Algorithms </li>
                            <li> Data Structures</li>
                        </ul>

                    </div>
                </div>

            </div>

            <div>
                <h4 class="skill-title"> </h4>

            </div>

            <div class="skill-container">
                <h4 class="skill-title"> OTHER TOOLS </h4>
                <div class="nested">
                    <div class="wrapper">
                        <img src="https://image.ibb.co/fEqFip/nodejs.png" />
                        <div class="bar- anim-"></div>
                    </div>

                    <div class="wrapper">
                        <img src="https://image.ibb.co/nes6pU/ps.png" />
                        <div class="bar- anim-"></div>
                    </div>


                </div>
            </div>

            <div>
                <h4 class="skill-title"> </h4>

            </div>
        </div>

        <div class="quote">
            <p>
                'Adapt what is useful, reject what is useless, and add what is specifically your own.' <span id="overlay-menu-2" class="surprise">-Bruce Lee</span>
            </p>

        </div>

        <div id="overlay-2" class="overlay-2 overlay-data-2">
            <button type="button" class="overlay-close-2">Close</button>
            <div class="outer">
                <div class="container-2">

                    <div class="bruce">
                        <a href="https://codepen.io/kirkd/full/yEBgoe" target="_blank">
                        <img src="https://i.ibb.co/nsHNHvS/Bruce-Lee-Color-change.gif" alt="bruce-lee"/>
                    </a>
                    </div>

                    <div class="spider">
                        <a href=" # " target="_blank">
            <img src="https://i.ibb.co/r30pNwv/Spider-Bug-v1.gif" alt="bug-code"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="projects" class="parallax-bg-3">

        <div data-aos="fade-right" class="caption">
            <span class="border pic-text proj-caption">  PROJECTS  </span>
        </div>

    </div>

    <div class="proj-panel">
        <h4 class="proj-title"> Here are some of my personal projects </h4>
        <div class="grid-proj">


            <!--
https://i.ibb.co/RDRLQd2/skysight-full.jpg
https://i.ibb.co/N3SBTy0/Moviemania-full.jpg
-->

            <div class="wrapper-proj grid-item">
                <img src="https://i.ibb.co/RDRLQd2/skysight-full.jpg" />

                <div class="overlay-top">
                    <h2> Sky Sight </h2>
                </div>

                <div class="overlay-bot">
                    <button class="btn btn-info" data-toggle="modal" data-target="#project-1"> LEARN MORE </button>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="project-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> SKY SIGHT </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <img src="https://i.ibb.co/tYcQ65L/Sky-Sight-Half.jpg" />
                                <div class="modal-desc">
                                    <h6> A front end weather app that uses APIs to fetch location & weather data and display it to the user. </h6>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/kirkdc/Sky-Sight" target="_blank"><button type="button" class="btn btn-secondary"> CODE </button> </a>
                                <a href="https://sky-sight.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary"> WEBSITE </button></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper-proj grid-item">

                <img src="https://i.ibb.co/N3SBTy0/Moviemania-full.jpg" />
                <div class="overlay-top">
                    <h2> Movie Mania </h2>
                </div>

                <div class="overlay-bot">
                    <button class="btn btn-info" data-toggle="modal" data-target="#project-2"> LEARN MORE </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="project-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> MOVIE MANIA</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <img src="https://i.ibb.co/9tgM0N1/Movie-Mania-half.jpg" />
                                <div class="modal-desc">
                                    <h6> A simple movie database which makes API requests using Node. </h6>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/kirkdc/Movie-Mania" target="_blank"><button type="button" class="btn btn-secondary"> CODE </button></a>
                                <a href="https://movie-mania-db.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary"> WEBSITE </button></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper-proj grid-item">

                <img src="https://i.ibb.co/MNFXJQb/Bar-code-full.jpg" />

                <div class="overlay-top">
                    <h2> Bar Code </h2>
                </div>

                <div class="overlay-bot">
                    <button class="btn btn-info" data-toggle="modal" data-target="#project-3"> LEARN MORE </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="project-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"> BAR CODE</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
                            </div>
                            <div class="modal-body">
                                <img src="https://i.ibb.co/cD4nLdJ/Bar-code-half.jpg" />
                                <div class="modal-desc">
                                    <h6> A bar review app making use of Bootstrap, RESTful routes, comments, authentication and a database(mongodb). It has been deployed to Heroku. </h6>
                                </div>


                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/kirkdc/barCode" target="_blank"><button type="button" class="btn btn-secondary"> CODE </button></a>
                                <a href="https://barscode.herokuapp.com/" target="_blank"><button type="button" class="btn btn-primary"> WEBSITE </button></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--http://www.webtutorialplus.com/css-hover-effects/-->

        </div>

        <h4 class="patience-proj"> All of these websites have been deployed on free platforms so they may take time to load. Please be patient :) </h4>
        <p class="other-work"> You can check out the rest my work on <a href="https://codepen.io/kirkd/" target="_blank">CodePen</a> and <a href="https://github.com/kirkdc" target="_blank">Github</a> </p>

    </div>

    <div id="contact" class="parallax-bg-4">
        <div data-aos="fade-right" class="caption">
            <span data-aos="fade-right" class="border pic-text proj-caption"> CONTACT </span>
        </div>
    </div>

    <div class="contact-container">

        <div data-aos="flip-down" data-aos-duration="800" class="contact-panel">
            <div class="container">
                <% if(success && success.length > 0) { %>
                    <div class="alert alert-success" role="alert">
                        <%= success %>
                    </div>
                <% } %>

                <% if(error && error.length > 0) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                <% } %>
            </div>
            <div class="contact-title"> 
            <h5> So, that's it. I hope you enjoyed our brief encounter. </h5> 
            <h5> As a parting gift...I’ve hidden two <a class="easter-eggs" href="https://en.wikipedia.org/wiki/Easter_egg_(media)" target="_blank">"Easter Eggs"</a> in this webpage. See if you can find them!</h5> 
            <h5> If you have any questions or want to work together I'd love to hear from you! </h5>
            </div>
            <div class="grid-contact">

                <div class="container">

                    <div class="wrapper-con animated bounceInLeft">
                        <div class="my-info">
                            <h3 class="title-con">Details</h3>
                            <ul class="info-list">
                                <li><i class="fas fa-map-marker-alt"></i> Mumbai, India</li>
<!--                                <li><i class="fa fa-phone"></i> NUMBER HERE</li>-->
                                <li><i class="fa fa-envelope"></i> <a href="mailto:dcostacode@gmail.com">dcostacode@gmail.com</a></li>
                                <li><i class="fab fa-linkedin"></i> <a href="https://in.linkedin.com/in/kirkdcosta" target="_blank">Linkedin</a></li>
                                <li><i class="fab fa-github"></i> <a href="https://github.com/kirkdc" target="_blank">GitHub</a></li>
                                <li><i class="fab fa-codepen"></i> <a href="https://codepen.io/kirkd/" target="_blank">CodePen</a></li>
                            </ul>
                        </div>
                        <div class="contact">
                            <h3 class="title-con">Get in touch </h3>
                            <!--                          <percentage sign msg %> FIND OUT HOW TO PRINT CONFIRMATION MESSAGE BECAUSE THIS DOES NOT WORK-->

                            <form method="POST" action="send">
                                <p class="full">
                                    <label>Name</label>
                                    <input type="text" name="name" required>
                                </p>

                                <p class="full">
                                    <label>Email</label>
                                    <input type="email" name="email" required>
                                </p>

                                <p class="full">
                                    <label>Message</label>
                                    <textarea name="message" required rows="5"></textarea>
                                </p>
                                <p class="full">
                                    <button type="submit">Submit</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="progressbar.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!--^cdn for scroll animations https://michalsnik.github.io/aos/^-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="script.js"></script>


</body>

</html>